# Compiled Source #
###################
*.la
*.lo
*.o
*.pyc

# Packaging Files #
###################
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars

debian/swss/
debian/swss-dbg/

aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
Makefile.in
stamp-h1
**/Makefile
autom4te.cache

# Temp files #
##############
*~
*.swp

# Dependency Folder #
#####################
deps/
**/.deps

# Executables #
###############
cfgmgr/buffermgrd
cfgmgr/intfmgrd
cfgmgr/natmgrd
cfgmgr/nbrmgrd
cfgmgr/portmgrd
cfgmgr/sflowmgrd
cfgmgr/teammgrd
cfgmgr/vlanmgrd
cfgmgr/vrfmgrd
cfgmgr/vxlanmgrd
cfgmgr/natmgrd
cfgmgr/sflowmgrd
cfgmgr/macsecmgrd
cfgmgr/coppmgrd
cfgmgr/tunnelmgrd
fpmsyncd/fpmsyncd
gearsyncd/gearsyncd
mclagsyncd/mclagsyncd
natsyncd/natsyncd
neighsyncd/neighsyncd
fdbsyncd/fdbsyncd
orchagent/orchagent
orchagent/orchagent_restart_check
orchagent/routeresync
portsyncd/portsyncd
swssconfig/swssconfig
swssconfig/swssplayer
tlm_teamd/tlm_teamd
teamsyncd/teamsyncd
tests/tests


# Test Files #
##############
tests/log
tests/mock_tests/test-suite.log
tests/mock_tests/tests.log
tests/mock_tests/tests.trs
tests/test-suite.log
tests/tests.log
tests/tests.trs
orchagent/p4orch/tests/**/*gcda
orchagent/p4orch/tests/**/*gcno
